//-------------------------------------//
//  About
//-------------------------------------//

.p-about__title {
    font-size: 24px;
    text-align: center;
}
.p-about__items {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    flex-direction: row;

    & > li {
        padding: 0 10px;
    }
}

@media (max-width: $break-point) {

}