//-------------------------------------//
//  Detail
//-------------------------------------//

.p-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}
.p-detail__title {
    margin-bottom: 10px;
    font-size: $font-size-xl + 10;
    line-height: 40px;
}
.p-detail__meta {
    margin-bottom: 15px;

    & > li {
        font-size: $font-size-s;
    }
}
.p-detail__thumb {
    margin-bottom: 10px;
    border: 5px solid #e0e0e0;
}
.p-detail__share {
    display: flex;

    & > li { width: 100%; }
}

// Post Body

.p-detail__body {
    padding: 40px 0;
    font-size: $font-size-m;
    line-height: 28px;

    h2 {
        margin: 50px 0 24px;
        padding: 0 10px 5px 28px;
        border-bottom: 1px solid #bbb;
        background: url(/assets/img/post/headline.png) no-repeat left 5px;
        background-size: 18px 18px;
        font-size: $font-size-ll;
        line-height: 30px;
    }
    h3 {
        margin: 40px 0 24px;
        padding: 0 5px 0 15px;
        border-left: 5px solid #6cc6e4;
        font-size: $font-size-l;
        line-height: 28px;
    }
    p { margin-bottom: 24px; }
    a {
        color: #6cc6e4;

        &:hover {
            color: #0090aa;
            text-decoration: underline;
        }
    }
    ul {
        margin-bottom: 24px;
        padding-left: 28px;

        & > li {
            position: relative;

            &:before {
                display: block;
                position: absolute;
                top: 10px;
                left: -18px;
                width: 6px;
                height: 6px;
                background-color: #6cc6e4;
                content: '';
            }
        }
    }
    strong {
        background-color: #DDD;
        margin: 0 2px;
        padding: 2px 5px;
    }
    blockquote {
        margin-bottom: 24px;
        padding: 25px;
        background: url(/assets/img/post/quote.gif) no-repeat 10px 10px $sub-background-color;

        & > p { margin-bottom: 0; }
    }
}

@media (max-width: $break-point) {

}
