//-------------------------------------//
//  Post
//-------------------------------------//

.p-post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.p-post__title {
    font-size: 32px;
    line-height: 40px;
}
.p-post__meta > li {
    font-size: 14px;
}
.p-post__thumb {
    border: 5px solid #e0e0e0;
}
.p-post__share {
    display: flex;
    flex-direction: row;

    & > li {
        width: 100%;
        text-align: center;
    }
}
.p-post__share__link {
    display: block;
    padding: 7px 0 8px;

    &.is-twitter { background-color: #00acee; }
    &.is-facebook { background-color: #3b5998; }
    &.is-hatena { background-color: #0090df; }
    &.is-pocket { background-color: #f5494e; }
}


// Post Body

.p-post__body {
    padding: 40px 0;
    font-size: 18px;
    line-height: 28px;
}
.p-post__body p {
    margin-bottom: 24px;
}
.p-post__body h2 {
    margin: 50px 0 24px;
    padding: 0 10px 5px 28px;
    border-bottom: 1px solid #bbb;
    background: url(../img/post/headline.png) no-repeat left 5px;
    background-size: 18px 18px;
    font-size: 22px;
    line-height: 30px;
}
.p-post__body h3 {
    margin: 40px 0 24px;
    padding: 0 5px 0 15px;
    border-left: 5px solid #6cc6e4;
    font-size: 20px;
    line-height: 28px;
}
.p-post__body ul {
    margin-bottom: 24px;
    padding-left: 28px;
}
.p-post__body ul > li {
    position: relative;
}
.p-post__body ul > li:before {
    display: block;
    position: absolute;
    top: 10px;
    left: -18px;
    width: 6px;
    height: 6px;
    background-color: #6cc6e4;
    content: '';
}
.p-post__body a {
    color: #6cc6e4;
}
.p-post__body a:hover {
    color: #0090aa;
    text-decoration: underline;
}
.p-post__body blockquote {
    margin-bottom: 24px;
    padding: 25px;
    background: url(../img/post/quote.gif) no-repeat 10px 10px #eee;
}
.p-post__body blockquote > p:last-child {
    margin-bottom: 0;
}
.p-post__body strong {
    background-color: #DDD;
    margin: 0 2px;
    padding: 2px 5px;
}





@media (max-width: $break-point) {

}