//-------------------------------------//
//  Manage Sidebar
//-------------------------------------//

#m-sidebar {
    min-width: 150px;
    padding-bottom: 30px;
    border-top: 1px solid #fff;
    background: url(/assets/img/manage/side_bg.jpg) center center;
    background-size: cover;
    color: $other-font-color;
    font-size: $font-size-ss;
}
.m-sidebar__items > li {
    .m-sidebar__link {
        display: block;
        padding: 12px 15px;

        &:hover {
            background-color: #252629;
        }
    }

    &.is-active .m-sidebar__link {
        background-color: $manage-background-color;
        color: $base-font-color;
    }
}