//-------------------------------------//
//  Footer
//-------------------------------------//

#footer {
    padding: 80px 0 20px;
    background: url($base-background-image) center center;
    background-size: cover;
}
.footer__copy {
    color: $light-font-color;
    text-align: center;
}

@media (max-width: $break-point) {

}
