<% extend 'layout/layout' %>

<section class="p-popular p-index__section">
    <a class="p-popular__most u-hover" style="background-image: url(/assets/img/posts/1.png)" href="postDetail/">
        <div class="p-popular__most__box">
            <p class="p-popular__most__box__title c-title">Most Popular</p>

            <p class="c-postItem__title u-ellipsis-1">Grunt: タスクの失敗や完了を通知</p>
            <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
            <ul class="c-postItem__meta">
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                    2015.10.11
                </li>
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                    Diary
                </li>
            </ul>
        </div>
    </a>

    <div class="p-popular__posts">
        <p class="p-popular__posts__title c-title--headline c-title">Popular Posts</p>

        <ul class="p-popular__posts__items">
            <li>
                <a class="p-popular__posts__items__thumb u-hover" href="">
                    <img src="/assets/img/posts/2.png" width="100%" height="auto" alt="">
                </a>
                <div class="p-popular__posts__items__body">
                    <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
                    <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
                    <ul class="c-postItem__meta">
                        <li>
                            <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                            2015.10.11
                        </li>
                        <li>
                            <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                            <a class="u-hover" href="">Diary</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="p-popular__posts__items__thumb u-hover" href="">
                    <img src="/assets/img/posts/3.png" width="100%" height="auto" alt="">
                </a>
                <div class="p-popular__posts__items__body">
                    <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
                    <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
                    <ul class="c-postItem__meta">
                        <li>
                            <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                            2015.10.11
                        </li>
                        <li>
                            <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                            <a class="u-hover" href="">Diary</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="p-popular__posts__items__thumb u-hover" href="">
                    <img src="/assets/img/posts/4.png" width="100%" height="auto" alt="">
                </a>
                <div class="p-popular__posts__items__body">
                    <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
                    <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
                    <ul class="c-postItem__meta">
                        <li>
                            <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                            2015.10.11
                        </li>
                        <li>
                            <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                            <a class="u-hover" href="">Diary</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="p-popular__posts__items__thumb u-hover" href="">
                    <img src="/assets/img/posts/5.png" width="100%" height="auto" alt="">
                </a>
                <div class="p-popular__posts__items__body">
                    <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
                    <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
                    <ul class="c-postItem__meta">
                        <li>
                            <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                            2015.10.11
                        </li>
                        <li>
                            <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                            <a class="u-hover" href="">Diary</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="p-index__section">
    <p class="p-index__title c-title c-title--headline">Recently Posts</p>

    <ul class="p-index__list">
        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/posts/6.png" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
            <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
            <ul class="c-postItem__meta">
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                    2015.10.11
                </li>
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                    <a class="u-hover" href="">Diary</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/posts/7.jpg" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
            <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
            <ul class="c-postItem__meta">
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                    2015.10.11
                </li>
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                    <a class="u-hover" href="">Diary</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/posts/8.png" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
            <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
            <ul class="c-postItem__meta">
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                    2015.10.11
                </li>
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                    <a class="u-hover" href="">Diary</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/posts/9.jpg" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
            <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
            <ul class="c-postItem__meta">
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                    2015.10.11
                </li>
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                    <a class="u-hover" href="">Diary</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="p-index__btn">
        <a class="c-btn c-btn--large c-btn--default c-title u-hover" href="list.html">More Posts</a>
    </div>
</section>

<section class="p-index__section">
    <p class="p-index__title c-title c-title--headline u-mb20">Portfolio</p>

    <ul class="p-index__list">
        <li>
            <a class="c-postItem__thumb u-hover" href="portfolio.html">
                <img src="/assets/img/portfolio/1.png" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">流離の大連打人</a>
        </li>

        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/portfolio/2.png" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">The 包囲網</a>
        </li>

        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/portfolio/3.png" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Touch The Numbers.</a>
        </li>

        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/portfolio/4.png" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">闇の神経衰弱</a>
        </li>
    </ul>

    <div class="p-index__btn">
        <a class="c-btn c-btn--large c-btn--default c-title u-hover" href="">More Portfolio</a>
    </div>
</section>
