<% extend 'layout/layout' %>

<div class="p-detail">
    <h1 class="p-detail__title c-title">CSS3の2種類のアニメーションを理解する</h1>

    <ul class="p-detail__meta c-postItem__meta">
        <li>
            <i class="c-postItem__icon c-icon c-icon--post-date u-mr2 u-v2"></i>
            2015.10.11
        </li>
        <li>
            <i class="c-postItem__icon c-icon c-icon--post-category u-v2"></i>
            <a class="u-hover" href="">Diary</a>
        </li>
        <li>
            <i class="c-postItem__icon c-icon c-icon--post-tag u-v2"></i>
            <a class="u-hover" href="">JavaScript</a> ,
            <a class="u-hover" href="">React</a>
        </li>
    </ul>

    <div class="p-detail__thumb">
        <img src="/assets/img/posts/4.png" width="100%" height="auto" alt="">
    </div>

    <ul class="p-detail__share">
        <li>
            <a class="c-share is-twitter u-hover" href=""><i class="c-icon c-icon--share-twitter"></i></a>
        </li>
        <li>
            <a class="c-share is-facebook u-hover" href=""><i class="c-icon c-icon--share-facebook"></i></a>
        </li>
        <li>
            <a class="c-share is-hatena u-hover" href=""><i class="c-icon c-icon--share-hatena"></i></a>
        </li>
        <li>
            <a class="c-share is-pocket u-hover" href=""><i class="c-icon c-icon--share-pocket"></i></a>
        </li>
    </ul>

    <div class="p-detail__body">
        <p>
            こんにちはわたしはわたなべです。<br>
            ちょっと昔にみーんなが<strong>アプリ</strong>でやってた<strong>Touch The Numbers</strong>、いわゆる数字タッチゲームってやつをJavaScriptで作ってみました。
        </p>
        <h2>目次</h2>
        <ul>
            <li><a href="">とりあえずやってみて</a></li>
            <li><a href="">デザインも真面目にやったよ</a></li>
            <li><a href="">【エンジニア向け】数字タッチゲームの作り方</a></li>
            <li><a href="">最後に</a></li>
        </ul>
        <h2>とりあえずやってみてとりあえずやってみてとりあえずやってみてとりあえずやってみてとりあえずやってみてとりあえずやってみて</h2>
        <ul>
            <li>とりあえずやってみて</li>
            <li>デザインも真面目にやったよ</li>
            <li>【エンジニア向け】数字タッチゲームの作り方</li>
            <li>最後に</li>
        </ul>
        <h2>デザインも真面目にやったよ</h2>
        <h3>まだまだ改善余地はありそう</h3>
        <p>なぜ<strong>PC</strong>で動くようにしてないかっていうとタッチデバイスで最もぬるぬる動くようにプログラミングしたかったので余計な要素は排除させてもらった感じです。</p>
        <p>
            そんなわけなんですがこれ作って自分である程度遊んだあとにネイティブアプリの本家Touch The Numbersで遊んでみたらやっぱり押したときの気持ちよさとかぬるぬる動く感が僕のものとは非じゃないくらい素晴らしくって。<br>
            タッチしたときの反応速度とかはわりとJavaScriptの限界値って感じな気はしますが、押したときの音であったり演出であったりでまだまだ良いものはできそうです。
        </p>
        <p>今回はここまでで完成ということにしますが今後のゲームではそういう部分も意識したいですね。</p>
        <blockquote>
            <p>
                そんなわけなんですがこれ作って自分である程度遊んだあとにネイティブアプリの本家Touch The Numbersで遊んでみたらやっぱり押したときの気持ちよさとかぬるぬる動く感が僕のものとは非じゃないくらい素晴らしくって。<br>
                タッチしたときの反応速度とかはわりとJavaScriptの限界値って感じな気はしますが、押したときの音であったり演出であったりでまだまだ良いものはできそうです。
            </p>
        </blockquote>
        <h3>まだまだ改善余地はありそうまだまだ改善余地はありそうまだまだ改善余地はありそうまだまだ改善余地はありそうまだまだ改善余地はありそうまだまだ改善余地はありそう</h3>
        <p>ここで終わり。</p>
    </div>

    <ul class="p-detail__share">
        <li>
            <a class="c-share is-twitter u-hover" href=""><i class="c-icon c-icon--share-twitter"></i></a>
        </li>
        <li>
            <a class="c-share is-facebook u-hover" href=""><i class="c-icon c-icon--share-facebook"></i></a>
        </li>
        <li>
            <a class="c-share is-hatena u-hover" href=""><i class="c-icon c-icon--share-hatena"></i></a>
        </li>
        <li>
            <a class="c-share is-pocket u-hover" href=""><i class="c-icon c-icon--share-pocket"></i></a>
        </li>
    </ul>
</div>

<section class="p-index__section">
    <p class="p-index__title c-title c-title--headline">Related Posts</p>

    <ul class="p-index__list">
        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/posts/6.png" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
            <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
            <ul class="c-postItem__meta">
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                    2015.10.11
                </li>
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                    <a class="u-hover" href="">Diary</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/posts/7.jpg" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
            <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
            <ul class="c-postItem__meta">
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                    2015.10.11
                </li>
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                    <a class="u-hover" href="">Diary</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/posts/8.png" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
            <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
            <ul class="c-postItem__meta">
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                    2015.10.11
                </li>
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                    <a class="u-hover" href="">Diary</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="c-postItem__thumb u-hover" href="">
                <img src="/assets/img/posts/9.jpg" width="100%" height="auto" alt="">
            </a>

            <a class="c-postItem__title u-ellipsis-1 u-hover" href="">Grunt: タスクの失敗や完了を通知</a>
            <p class="c-postItem__desc u-ellipsis-1">Middleman 引っ越し done !! なのだけどほげほげほげ</p>
            <ul class="c-postItem__meta">
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-date u-v3"></i>
                    2015.10.11
                </li>
                <li>
                    <i class="c-postItem__icon c-icon c-icon--post-category u-v3"></i>
                    <a class="u-hover" href="">Diary</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="p-index__btn">
        <a class="c-btn c-btn--large c-btn--default c-title u-hover" href="list.html">More Posts</a>
    </div>
</section>