<div id="menu">
    <div class="menu__icon c-menuIcon js-menu-btn">
        <span class="c-menuIcon__line"></span>
        <span class="c-menuIcon__line"></span>
        <span class="c-menuIcon__line"></span>
    </div>

    <nav class="menu__main js-menu-area">
        <ul class="menu__items c-title">
            <li>
                <form action="">
                    <dl class="menu__form">
                        <dt><input class="menu__form__txt" type="text" placeholder="search for... :)" /></dt>
                        <dd class="menu__form__search"><input class="menu__form__submit" type="submit" value="" /></dd>
                    </dl>
                </form>
            </li>
            <li>
                <p class="menu__items__title"><a class="menu__link" href="/">Home</a></p>
            </li>
            <li>
                <p class="menu__items__title"><a class="menu__link" href="">Portfolio</a></p>
            </li>
            <li>
                <p class="menu__items__title">About</p>

                <ul class="menu__items__list">
                    <li><a class="menu__link" href="">Profile</a></li>
                    <li><a class="menu__link" href="">About blog</a></li>
                    <li><a class="menu__link" href="">Links</a></li>
                </ul>
            </li>
            <li>
                <p class="menu__items__title">Category</p>

                <ul class="menu__items__list">
                    <li><a class="menu__link" href="">Diary(10)</a></li>
                    <li><a class="menu__link" href="">Web(5)</a></li>
                    <li><a class="menu__link" href="">Game(7)</a></li>
                </ul>
            </li>
            <li>
                <p class="menu__items__title">Tag</p>

                <ul class="menu__items__list">
                    <li><a class="menu__link" href="">JavaScript(8)</a></li>
                    <li><a class="menu__link" href="">CSS3(2)</a></li>
                    <li><a class="menu__link" href="">HTML5(3)</a></li>
                    <li><a class="menu__link" href="">React(2)</a></li>
                    <li><a class="menu__link" href="">Zelda(2)</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
