<div id="sub">
    <p class="sub__title c-title">- About -</p>

    <ul class="sub__items">
        <li>
            <a class="u-hover" href="profile.html">
                <img src="/assets/img/about/profile.png" width="100%" height="auto" alt="">
            </a>
        </li>

        <li>
            <a class="u-hover" href="">
                <img src="/assets/img/about/blog.png" width="100%" height="auto" alt="">
            </a>
        </li>

        <li>
            <a class="u-hover" href="">
                <img src="/assets/img/about/links.png" width="100%" height="auto" alt="">
            </a>
        </li>
    </ul>
</div>
